/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 oct. 2021, 00:59:11
    Author     : Paul-Henri Solat
*/

/*Fond optionel
*{
    background: #999999; /* #BFBFBF
}*/

.body{
   overflow:auto;
}

/*text*/
.textCube{
    color: white;
    font-weight: bold;
    font-family: Trebuchet MS;
    width: 15em;
    padding: 1px 1px;
    position: relative;
}

/*shadowbox*/
.shadowbox {
  z-index: 3;
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 10px 12px;
  /*background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);*/
  position: relative;
}

/*CubeText*/
.imageInsert{
    width : 880px;
    position: absolute;
    background-color: rgba(169, 169, 169, 0); /* fond image transparent entre 0 et 1 (4eme param) */
}

/*TestAnimation*/
.testA {
    text-align: center;
    -webkit-animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

