#particles-js {
    width: 100%;
    height: 100%;
    background-color: #BFBFBF;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    position: fixed !important;
    display: block;
}

canvas {
    display: block;
    vertical-align: bottom;
}

